<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
        </div>


        <div class="btn-group gap-2 botones" role="group" aria-label="Basic example">
            
            <a href="/login"><button type="submit" class="btn btn-primary">Sign in</button></a>

            <a href="/register"><button type="submit" class="btn btn-primary">Sign up</button></a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">